<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# クライアントのActionCableは下記で生成されたタグを見て接続先を判別する %>
    <%= action_casble_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
